@font-face {
    font-family: 'Arsenal';
    src: url(fonts/Arsenal/Arsenal-Regular.otf);
}


body, html	{
    margin:0 auto;
    padding:0;
    max-width: 100%;
    overflow-x: hidden;
    text-align:center;
    font-family: 'Arsenal', sans-serif;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(90, 90, 90, 1);
}

a   {
    text-decoration: none;
    color: inherit;
}

.menu, .header_circle_width, .skils_article p, .skils_article img, .edu, .education_width img, .experience_name, div.projects_article, .screenshot_background, .project_details, .contacts_article, .contacts_article img  {
    display: none;

}

h4  {
    padding: 3%;
    font-size: 22px;

}

.menu-toggle    {
    position: absolute;
    right: 0;
    background: rgba(80, 80, 80, 1);
    border: 2px solid rgba(80, 80, 80, 1);
    box-shadow: 0 3px 5px 2px rgba(0,0,0,0.4);

}

.menu-toggle:before {
    content: "\2261";
    font: 22px "arial";
    color: #fff;

}

.button_x:before {
    content: '×';
}

nav ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;

}

nav ul li {
    text-align: left;
    background-color: rgba(100, 100, 100, 0.9);
    border-bottom: 1px solid #00D9FF;
    color: #ffffff;
    padding: 1%;
}

nav ul li a {
    display: block;
    text-decoration: none;
}

#menu_list_mini  {
    display: none;
}

#menu_list_mini li:last-child {
    text-decoration: underline;
    color: #00D9FF;
    font-weight: 900;
}


header	{
    max-width: 100%;
    background-image: url("images/0033.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-weight: 900;
}

header hr   {
    width: 100%;
    height: 2px;
    background-color: #00D9FF;
    border: none;
    margin: 0;
}

.header_top  {
    max-width: 100%;
    margin:0 auto;
    background-color:rgba(255, 255, 255, 0.9);
    overflow: hidden;

}


.header_bottom    {
    width: 100%;
    background-color:rgba(100, 100, 100, 0.9);
    color: #fff;
    overflow: hidden;
}

.about_me   {
    margin: 0 auto;
    padding: 0 0 5%;
}

.about_me img   {
    max-width: 250px;
    max-height: 250px;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    box-shadow: 0 15px 22px rgba(0,0,0,0.7);
    text-align: center;

}

.about_me_info  {
    max-width: 90%;
    text-align: left;
    margin: 5%;
}

.skils  {
    background-color:rgba(100, 100, 100, 1);
    color: #FFF;
    margin: 0 auto;
    padding: 1% 0 5%;
    text-align: center;
}



.skils_width {
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
}

.list_style > ul > li{
    list-style-image: url("images/galochka_small.png");

}


.list_style > ul > li  {
    margin: 0 3% 0 0;
    width: 95%;
    color: #FFF;
    font-size: 17px;
}


@media screen and (min-width:640px) and (max-width:1049px)  {

    .skils_width > ul	{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        -o-column-count: 2;
        display: inline-block;
        vertical-align: middle;
    }


    .list_style > ul > li  {
        margin: 0 50% 0 0;
        width: 95%;
        color: #FFF;
        font-size: 17px;
    }
}

.list_style {
    list-style: none;
    font-size: 19px;
    color: #00D9FF;
    padding: 0 0 20px;
}


.education_width  {
    text-align: center;
    margin: 0 auto;
    padding: 0 0 5%;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
}

.education_1, .education_2, .education_3    {
    margin: 0 auto;
    padding:0;
    text-align: center;

}

.edu_date   {
    font-size: 15px;
    font-style: italic;
    color: #949494;
}

.education_1 div, .education_2 div, .education_3 div  {
    width: 50px;
    height: 50px;
    background: url("images/books_grey_50_50.png") no-repeat;
    display: inline-block;
    vertical-align: bottom;
}


.experience {
    background-image: url("images/home-office.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    color: #FFFFFF;

}

.experience_fill    {
    width: 100%;
    background-color: rgba(100, 100, 100, 0.8);

}

.experience h4  {
   padding-top: 8%;
}

.experience_info   {
    margin: 0 auto;
    padding: 0 0 5% 0;

}

.experience_list    {
    max-width: 90%;
    margin: 5%;
}

.work {
    text-align: left;
    margin: 15px 0;
}

.work p {
    margin: 0;
}

.profession {
    color: #00D9FF;

}

.projects_section    {
    background: url("images/sandston.gif") repeat center;

}

.projects_width {
    margin: 0 auto;
    padding: 0 0 5%;
    text-align: center;
    overflow: hidden;
}

.projects_category {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 90%;
    margin: 0 0 5%;

}

.projects_category span {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    margin: 2%;
    transition: all 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
    padding: 5px;
    color: #000000;

}

.projects_category span:hover   {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #737373;

}

#all_category  {
    border-bottom: 3px solid #00D9FF;

}

.hide, .hide .screenshot_background {
    width: 0;
    height: 0;
    z-index: -10;
    position: absolute;
    transition: all 0.3s ease-in-out;

}

.project   {
    margin: 5%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.screenshot   {
    display: block;
    vertical-align: top;
    background-color: #FFFFFF;
    max-width: 300px;
    width: 100%;
    position: relative;

}

.project_description    {
    padding: 0 0 15px;
    font-size: 16px;

}

.screenshot img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    vertical-align: top;
    margin: 0 0 15px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.6);
}

.screenshot_background   {
    position: absolute;
    display: block;
    top:0;
    left: 0;
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    background-color: rgba(100, 100, 100, 0);
}

.project_name   {
    margin: 15px 0 10px;
    font-size: 22px;
    font-weight: 800;

}

.project_name a {
    text-decoration: underline;
    color: inherit;
    transition: all 0.2s ease-in-out;
}

.project_name a:hover {
    text-decoration: none;
    color: #00D9FF;
    transition: all 0.2s ease-in-out;
}

.contacts, footer   {
    background-color: rgba(100, 100, 100, 1);
    color: #ffffff;
    overflow: hidden;
}

.contacts_width {
    margin: 0 auto;
    padding: 0 0 10%;
    text-align: left;
}

.contacts_width img {
    width: 30px;
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;

}

.contacts_width p   {
    display: inline-block;
    vertical-align: middle;
    margin: 1% 4% 1% 3%;
    max-width: 300px;
    width: 100%;

}

.contacts_width a   {
    text-decoration: none;
    color: inherit;

}

.contact_info a:hover   {
    text-decoration: underline;
}

footer  {
    width: 100%;
    height: 50px;
    box-shadow: 0 10px 20px 20px rgba(0,0,0,0.5);
    margin: 0;
    line-height: 50px;
}
